* {
  margin: 0;
  padding: 0;
  border: 0;
}

.layouts {
  background-color: red;
}

.layouts {
  height: 350px;
}

.tops {
  position: relative;
  width: 100%;
  //background-color: #1890ff;
}

.index_top {
  position: absolute;
  right: 5px;
  z-index: 99999999;
  background-color: white;
  color: #1890ff;
}

.iconHover:hover {
  color: #f44336;
}
